
.vscode/.ropeproject/config.py
__pycache__/utils.cpython-36.pyc
__pycache__/gdvariable.cpython-36.pyc
__pycache__/gdfunction.cpython-36.pyc
__pycache__/gdclass.cpython-36.pyc
__pycache__/constants.cpython-36.pyc
.vscode/.ropeproject/objectdb
