<html>
    <head>
        <title>{%title}</title>
        <link type="text/css" rel="stylesheet" href="css/style.css"/>
    </head>
    <body>
        <div class="wrapper">
            <div class="header">
                <!-- header -->
                <img src="https://godotengine.org/themes/godotengine/assets/logo.svg" alt="godot-logo" class="logo"/>
                <h1>{%project_name}</h1>
            </div>
        
            <div class="main">
                <h2>Scripts</h2>
                <!-- main content -->
                <ul>
                    <!-- menu items -->
                    {$menu}
                </ul>
            </div>
        </div>
    </body>
</html>